In [5]:
import pandas as pd
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split

# Database connection URL
DATABASE_URL = "postgresql+psycopg2://root:root%40123@localhost:5432/singlish_to_sinhala"

# Create an engine instance
engine = create_engine(DATABASE_URL)

# Define your SQL query
query = "SELECT * FROM singlish_data"

# Load the data into a Pandas DataFrame
df = pd.read_sql(query, engine)

# Display the first few rows of the dataframe
df.head()

,singlish_sentence,sinhala_sentence,correctness
0,Service eka godaak hondai,සේවාව ගොඩාක් හොඳයි,Valid
1,Kama rasai,කෑම රසයි,Valid
2,"place eka piliwelai, clean , kama godaak rasai","ස්ථානය පිළිවෙලට, පිරිසිදුයි, කෑම හරිම රසයි",Valid
3,gaana wadi,ගාන වැඩි,Valid
4,Price ekata shape wenna hoda rasata kama tika ...,"මිල කෙසේ හෝ හොඳයි, අපට හොඳ රසවත් ආහාර ලැබෙනවා",Valid

In [6]:
X = df.drop(columns=['singlish_sentence'])  # Features
y = df['sinhala_sentence']  # Target

# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Optional: Display the shape of the resulting datasets
print(f"Training data shape: {X_train.shape}")
print(f"Testing data shape: {X_test.shape}")

Training data shape: (1224, 2)
Testing data shape: (307, 2)

In [8]:
import pickle

# Save training and testing data
with open('datasets/X_train.pkl', 'wb') as f:
    pickle.dump(X_train, f)

with open('datasets/X_test.pkl', 'wb') as f:
    pickle.dump(X_test, f)

with open('datasets/y_train.pkl', 'wb') as f:
    pickle.dump(y_train, f)

with open('datasets/y_test.pkl', 'wb') as f:
    pickle.dump(y_test, f)